.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.app-header {
}
.img-box {
}
.header-icon {
  width: 24px;
}
.name {
}
.name-tag {
}
.chat-start {
}
.chat-start-text {
}
.chat-end {
}
.dog-img-box {
}
.chat-end-text {
}
